<div class="showcase-index-wrapper">
  <div class="container">
    <p><%= @username %>さんのページ</p>
    <%= link_to "新しくコレクションを作成する", new_mypage_showcase_path %>
    <%= @showcases.each do |showcase| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="showcase-index-single">
            <% if posted_in? %>
              <%= link_to "a", mypage_showcases_path(showcase_id: :showcase_id) %>
            <% else %>
              <p>"まだ投稿されていません"</p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
